.box
{
    background-color: rgb(124, 218, 112);
    width: 200px;
    height: 200px;
    padding: 20px;
}

.box p{
    background-color: plum;
    padding: 0px 0px 20px 10px;
    height: 100px;
    overflow: auto;
    text-decoration: 2px line-through dashed red;
 
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

